/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
    
  background: #c0b1b1;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
    display: flex;

  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: #000000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Sections */
.section {
  padding: 40px 0;
}

.section:nth-child(even) {
  background: #f4f4f4;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}
.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
  display: flex;
  
}
.logo img{
  width: 50px;
}
.footer__wrap{
display: flex;
justify-content: space-between;

}
.footer__logo{
  height: 30%;
  width: 160px;
}
.footer__menu{
  height: 70%;
}
.social img{
width: 40px;
}
.item{
display: flex;

}

.footer__menu a{
  color:rgb(185, 169, 169);
  text-decoration: underline;
}
.img-card{
  width: 50%;
}
.img-card img{
  height: 100%;
}
.cards_item{
  display: flex;
  border: 2px solid rgb(14, 126, 10);
  background-color: rgb(199, 187, 18);  
  height: 300px;
  width: 700px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px;
}
.card-desc{
  margin: 6px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
} 
.top{
  height: 20%;
}
.mid{
  height: 60%;
}
.bottom{
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.click-img img {
  width: 50px;
  transition: transform 0.2s ease;
  border-radius: 10px;
}

.click-img:active img {
  transform: scale(0.8) rotate(-10deg);
}
